body {
	background-color:#F0EFE9;
	font-family: 'Inter';
}

h1, h2 {

	font-weight: 500;
	font-size: 20px;

	line-height: 19px;
	text-decoration: underline solid #FCEFB4 20%;  
}

.navbar_container{
	max-height: auto;
	max-width: 60%;
	margin: 0 auto;
	text-align: center;
}

.container{
	max-height: auto;
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	margin-bottom: 20px;
	font-size: 17px;
}

.content-box {

	padding: 10px;
	
	width: 408px;

	height: 150px;

	margin: 20px;

	justify-content: center;
	align-items: center;

	background: #FFFFFF;
	border-radius: 12px;
}

.content-box img {
	
	width: 80px;
	height: 80px;

	padding: 20px;

	border-radius: 10px;

	border: 1px solid #FFFFFF;
	filter: drop-shadow(0px 4px 4px #D2D4FF);
}

.create-button {

	align-items: left;
	justify-content: left;

	cursor: pointer;
	margin-left: 70%;

	width: 130px;
	height: 33px;

	border: none;
	border-radius: 10px;

	color: rgb(0, 0, 0);
	background: #FCEFB4;
}

.create-button:hover {
	background-color: #ffffff;
}

.label {
	font-weight: bold;
	align-items: left;
	justify-content: left;
}
/* 
.image-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px; /* add margin-top to create separation */
}
   */
.image-row {
	display: flex;

	width: 80px;
	height: 80px;

	/* padding: 20px; */

	border-radius: 10px;
	border: 1px solid #FFFFFF;

	filter: drop-shadow(0px 4px 4px #D2D4FF);
}