
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

h1 {
	font-size: 24px;
	margin-top: 40px;
}

h2 {
	font-size: 24px;
	margin-top: 40px;
}

.box-container {
  display: flex;
}

td {
  color: #000000;
	width:  50%;
	border: none;
	border-radius: 40px;
	padding: 8px;
	cursor: pointer;
}

.image-box {
	background-color: #555;
	background-size: cover;
	background-position: center;
	height: 100px;
	margin-bottom: 10px;
  border-radius: 10px;
}

.btn {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}
